### Java template
*.class
*.jar
*.war
*.ear
hs_err_pid*

### OSX template
.DS_Store

# IntelliJ
.idea
*.iws
/out/
.idea_modules/
classes

# Gradle:
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
